includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    level: 6

    ignoreErrors:
#        - '#type specified in iterable type array#'
#        - '#HasFactory but does not specify its types#'